.navbar{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
  background-color: #000000;
}

.Logo{
    font-family: 'Alkatra', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
}

.Quote{
    font-family: 'Montserrat-bold';
    font-weight: 700;
    text-align: center;
}
.Back-image{
    background-image: url('Homepage4.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.lightbox-gallery{background-image: linear-gradient(#ca9fff);background-repeat: no-repeat;color: #000;overflow-x: hidden}
.lightbox-gallery p{color:#fff}
.lightbox-gallery h2{font-weight:bold;margin-bottom:40px;padding-top:40px;color:#fff}@media (max-width:767px)
{.lightbox-gallery h2{margin-bottom:25px;padding-top:25px;font-size:24px}}
.lightbox-gallery .intro{font-size:16px;max-width:500px;margin:0 auto 40px}
.lightbox-gallery .intro p{margin-bottom:0}
.lightbox-gallery .photos{padding-bottom:20px}
.lightbox-gallery .item{padding-bottom:30px}

#testimonials{
    padding: 7% 15%;
    font-family: 'Montserrat-bold';
    font-weight: 300;
    text-align: center;
    background-color: #bacdff;
    color: #000000;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
}
.bottom-container{
     background-color: #bacdff;
     padding: 50px 0 ;
     text-align: center;
   }
   
   
   .footer-link{
     font-family: 'Merriweather', serif;
     color: #49024d;
     margin: 20px;
     text-decoration: none;
   }
   .footer-link:hover{
     color: #EAF6F6;
   }
 .copyright-button{
     color: #EAF6F6;
     font-size: 1rem;
     padding: 20px 0;
 
 }
